@font-face { 
     font-family: 'soulway';
    src: url(./SoulwayFont-Demo.otf) format('opentype');
}
@font-face{
     font-family: 'Hand';
     src: url('./The Hand.ttf') format('truetype');
}
 

@font-face{
    font-family: 'Pokemon';
    src: url('./Pokemon Solid.ttf') format('truetype');
}
#detailContainer {
    font-family: 'soulway';
    padding: 10px;
}

#detail {
    display: grid;
    font-family: 'Hand';
    align-items: start;
}

@media (min-width: 1024px) {
    #detail {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
    #pokemon-normal {
        grid-area: 1 / 1 / 2 / 2;
    }

    #pokemon-shiny {
        grid-area: 1 / 2 / 2 / 3;
    }

    #pokemon-skills {
        grid-area: 1 / 3 / 2 / 4;
    }
    #previous-evolution{
        grid-area: 1 / 4/ 2 / 5;
    }

    #description {
        grid-area: 2 / 1 / 2 / 3;
    }
    #stats {
        grid-area: 2 / 3 / 2 / 5;
    }
    img.pokemon{
        width: 25vw;
    }
}

@media (min-width: 750px) and (max-width: 1023px) {
    #detail {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    #pokemon-normal {
        grid-area: 1 / 1 / 2 / 2;
    }

    #pokemon-shiny {
        grid-area: 1 / 2 / 2 / 3;
    }

    #pokemon-skills {
        grid-area: 2 / 1 / 3 / 2;
    }
    #previous-evolution{
        grid-area: 2 / 2 / 3 / 3;
    }

    #description {
        grid-area: 3 / 1 / 4 / 2;
    }
    #stats {
        grid-area: 3 / 2 / 4 / 3;
    }
    img.pokemon{
        width: 45vw;
    }
}

@media (max-width: 749px) {
    #detail {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    #pokemon-normal {
        grid-area: 1 / 1 / 2 / 2;
    }

    #pokemon-shiny {
        grid-area: 2 / 1 / 3 / 2;
    }

    #pokemon-skills {
        grid-area: 3 / 1 / 4 / 2;
    }
    #previous-evolution{
        grid-area: 4 / 1 / 5 / 2;
    }

    #description {
        grid-area: 5 / 1 / 6 / 2;
    }
    #stats {
        grid-area: 6 / 1 / 7 / 2;
    }
    img.pokemon{
        width: 90vw;
    }
}

#searchContainer {
    padding-top: 50px;    
    text-align: center;
    background-color: cornflowerblue;
}

#searchContainer h1 {
    font-size : 86px;
    font-family: 'soulway';
}

body,html {
    margin:0;
    padding:0;
    background-color: cornflowerblue;
    width:100%;
}

#detailContainer {
    display: none;
}

ul {
    display: table;
}

li {
    display: table-row;
}

label {
    display: table-cell;
    padding-right: 10px;
}

meter {
    display: table-cell;
}

#erreur {
    margin-top: 20px;
}
#maRecherche {
    font-size: 20px;
    font-family:'Pokemon';
    width:450px;
    padding-left:10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

#searchContainer button {
    background: url('./pikachu.png');
    background-size: cover;
    font-family:'Pokemon';
    font-size:40px;
    letter-spacing: 2px;
    border:none;
    width:190px;
    height:173px;
    padding-bottom:30px;
    cursor: pointer;
}

#konamiImg {
    position: absolute;
    bottom: 0px;
}

@keyframes slideInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
@keyframes slideOutDown {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  
.slide-in {
    animation: slideInUp 0.8s ease-out forwards;
}

.slide-out {
    animation: slideOutDown 0.8s ease-in forwards;
}

.nooverflow {
    overflow: hidden;
}

#retourBouton {
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

#pokeball {
    position: absolute;
    left:50%;
    top:50%;
    translate: -50% -50%;
}

@keyframes zoomIn {
    0% {
      width:0px;
      opacity: 1;
    }
    100% {
      width:100%;
      opacity: 0;
    }
  }

  .zoom-in {
    animation: zoomIn 2s linear;
}